Source: zi-zstd-h5
Version: 2020-04-17
Build-Depends: hdf5, zstd
Homepage: https://github.com/zi-m/HDF5Plugin-Zstandard
Description: An implementation of Zstandard compression filter plugin for HDF5 with the assigned filter code 32015.
